h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.page-title {
    padding: 1px;
    background-color: rgb(203, 143, 58);
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 44px;
    color: #333;
}

/*****************************grid parent classes **********************/
/* As in a parent class rather, than parent grid item */
.parent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    padding: 75px 30px 0 30px;
    column-gap: 30px;
    font-size: 22px;
}

.parent-title {
    grid-column: 1 / span 2;
    text-align: center;
}

.parent-image {
    grid-row: 2 / span 2;
    align-self: center;
}

.parent-description {
    background-color: rgba(184, 184, 184, 0.527);
    border-radius: 15px;
    align-self: center;
}

.parent-description p {
    font-style: italic;
}

.parent-link {
    align-self: baseline;
    align-self: end;
    text-align: center;
    padding-bottom: 18px;
}

/*****************************off set sections **********************/
.parent-grid.right {
    margin-left: 20%;
}

/************************* Flipped content grid **********************************/
.parent-grid.center {
    margin: auto;
}

.parent-image.flip {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.parent-description.flip {
    grid-column: 1;
}

/************************* vertical content grid **********************************/
.parent-grid.vert {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
    min-width: 300px;
    max-width: 33%;
    padding: 75px 20px 0px 20px;
}

.parent-title.vert {
    grid-column: 1;
}

/*******************newsletter  section ****************/
.newsletter-signup {
    padding: 30px;
}

.newsletter-button {
    background-color: rgb(203, 143, 58);
    padding: 10px 22px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.signup {
    display: none;
    position: fixed;
    /* code by Maciej Krawczyk from: https://stackoverflow.com/questions/3157372/css-horizontal-centering-of-a-fixed-div */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(184, 184, 184, 1);
    border-style: solid;
    border-color: rgb(203, 143, 58);

    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    min-width: 300px;
    z-index: 9;
}

.signup p {
    text-align: center;
    font-size: 30px;
}

.show {
    display: block;
}

/*****************************about section **********************/
.parent-grid.about {
    grid-template-columns: 1fr;
    overflow-wrap: anywhere;
}

.parent-description.about {
    margin-top: 10px;
    text-align: center;
}

.parent-description.about p {
    text-align: left;
    padding-left: 20px;
    font-style: normal;
}

.parent-description.about a {
    color: #169B62
}

.parent-description.about a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(203, 143, 58);
}

/*************************Button settings **************************/
/*  code by W3Schools from: https://www.w3schools.com/howto/howto_css_animate_buttons.asp  */
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    background-color: #169B62;
    border-radius: 15px;
    box-shadow: 5px 9px #999;
}

.button:hover {
    background-color: #333;
    color: white;
}

.button:active {
    background-color: orange;
    box-shadow: 5px 3px #666;
    transform: translateY(4px);
}

.extra-padding {
    padding-top: 60px;
}

/******************************* resize ****************************/
@media screen and (max-width: 1200px) {
    .parent-grid.vert {
        justify-content: center;
        min-width: none;
        max-width: 47%;
        margin-left: 10px;
    }

}

@media screen and (max-width: 1100px) {
    .signup {
        right: 35%;
    }

    .parent-grid {
        max-width: 100%;
    }

    .parent-grid.right {
        margin-left: 0%;
    }

    .full-vert-grid {
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {
    .signup {
        right: 22%;
    }

    .parent-grid.vert {
        justify-content: center;
        max-width: 90%;
        margin-left: 30px;
    }

    .parent-grid {
        grid-template-columns: 1fr;
    }

    .parent-title {
        grid-column: 1;
    }

    .parent-image {
        margin: auto;
    }

    .parent-image.offset {
        grid-row: 2;
    }

    .flip-child.image {
        grid-row: 2;
        grid-column: 1;
    }

    .parent-image.flip {
        grid-column: 1;
    }
}