h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.page-title {
    padding: 1px;
    background-color: rgb(203, 143, 58);
    text-align: center;
}

.page-title h1 {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 44px;
    color: #333;
}


/*****************************off set sections **********************/
.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    min-height: 80vh;
    padding: 75px 30px 0px 30px;
    font-size: 22px;
}

.grid-child.title {
    text-align: center;
    grid-column: 1 / span 2;
}

.grid-child.image {
    grid-row: 2 / span 2;
}

.grid-child.description {
    background-color: rgba(184, 184, 184, 0.527);
    align-self: center;
}

.grid-child.link {
    align-self: baseline;
    align-self: end;
    text-align: center;
    padding-bottom: 18px;
}

.content-grid.right {
    margin-left: 20%;
}

.content-grid.center {
    margin: auto;
    column-gap: 30px;
}

/************************* Flipped content grid **********************************/
.flip-grid {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    min-height: 80vh;
    margin: auto;
    padding: 75px 30px 0px 30px;
    font-size: 22px;
}

.flip-child.title {
    text-align: center;
    grid-column: 1 / span 2;
}

.flip-child.image {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.flip-child.description {
    grid-column: 1;
    background-color: rgba(184, 184, 184, 0.527);
    align-self: center;
}

.flip-child.link {
    align-self: baseline;
    align-self: end;
    text-align: center;
    padding-bottom: 18px;
}

/************************* vertical content grid **********************************/
.full-vert-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 75px;
    column-gap: 20px;
    margin: 30px;
}

.full-vert-grid a {
    display: contents;
}

.vert-grid {
    min-width: 350px;
    /* code by Michael Benjamin from: https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row */
    flex: 1 0 21%;
    margin: auto;
    padding: 75px 30px 0px 30px;
    font-size: 22px;
}

.vert-child.title {
    text-align: center;
}

.vert-child.description {
    background-color: rgba(184, 184, 184, 0.527);
    align-self: center;
}

.vert-child.link {
    align-self: baseline;
    align-self: end;
    text-align: center;
    padding-bottom: 18px;
}

/*************************Button settings **************************/
/*  code by W3Schools from: https://www.w3schools.com/howto/howto_css_animate_buttons.asp  */
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    background-color: green;
    border-radius: 15px;
    box-shadow: 5px 9px #999;
}

.button:hover {
    background-color: rgb(71, 192, 71);
    color: white;
}

.button:active {
    background-color: orange;
    box-shadow: 5px 3px #666;
    transform: translateY(4px);
}

/******************************* resize ****************************/
@media screen and (max-width: 1100px) {

    .content-grid,
    .flip-grid {
        max-width: 100%;
    }

    .right {
        margin-left: 0%;
    }
}

@media screen and (max-width: 650px) {

    .content-grid,
    .flip-grid {
        grid-template-columns: 1fr;
    }

    .grid-child.title,
    .flip-child.title {
        grid-column: 1;
    }

    .grid-child.image {
        grid-row: 2;
    }

    .flip-child.image {
        grid-row: 2;
        grid-column: 1;
    }
}