/********************* Header (above nav) **************************/
header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icon {
    display: flex;
    min-width: 350px;
}

header .header-links {
    display: flex;
    column-gap: 30px;
    margin: 20px 30px 75px 25px;
    row-gap: 10px;
}

header a:hover {
    text-decoration: underline;
}

header img {
    max-height: 100px;
    margin: 10px;
}

/**************************** Nav bar ***********************************/
/* code by W3schools from: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
#navbar {
    display: flex;
    justify-content: center;
    column-gap: 75px;
    background-color: #333;
    margin: 0px;
    padding-left: 0px;
}

#navbar li {
    list-style-type: none;
}

#navbar a {
    color: white;
    font-size: 28px;
    padding: 10px;
}

#navbar a:hover {
    border-radius: 20px;
    background-color: #169B62;
}

#navbar .active {
    text-decoration: underline;
    text-decoration-color: orange;
    cursor: pointer;
}

#navbar .highlight {
    background-color: #169B62;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* code by W3schools from: https://www.w3schools.com/jsref/event_onclick.asp  */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    justify-content: space-around;
    background-color: #169B62;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    border-radius: 20px;
    background-color: #333;
}

.show-sub-nav {
    display: flex;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr;
}

/********************************** resize **********************************/
@media screen and (max-width: 1080px) {
    #navbar {
        column-gap: 50px;
    }

}

@media screen and (max-width: 900px) {
    #navbar {
        column-gap: 30px;
    }

    #navbar a {
        font-size: 20px;
    }

    .dropdown-content a {
        font-size: 14px;
        text-align: center;
    }

}

@media screen and (max-width: 650px) {
    header .icon {
        min-width: 280px;
    }

    header img {
        max-height: 75px;
        margin: auto;
    }

    header h1 {
        font-size: 28px;
    }

    header .header-links {
        display: grid;
        text-align: right;
        margin: 10px;
    }

    #navbar {
        display: grid;
        justify-content: flex-start;
        row-gap: 5px;
        padding-left: 0px;
    }

    #navbar a {
        margin-left: 10px;
    }

    #navbar .highlight {
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
    }

    .navbar-grid {
        grid-template-columns: 1fr 2fr;
    }

    .show-sub-nav {
        display: inline-grid;
        justify-content: left;
    }

    .sub-nav a {
        font-size: 22px;
        padding: 10px;
        text-align: left;
    }

    .dropdown-content {
        /* Webkit seems to work for chrome based browsers */
        width: -webkit-fill-available; 
        /* moz works with firebox */
        width: -moz-available;
    }
    
    .dropdown-content a:hover {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}