/********************* Header (above nav) **************************/
header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 32px;
    color: #333;
}

.cursive {
    text-align: center;
    margin: 0;
    font-family: 'Caveat', cursive;
}

header .icon {
    display: flex;
    min-width: 350px;
}

header .header-links {
    display: flex;
    column-gap: 30px;
    margin: 20px 30px 75px 25px;
    row-gap: 10px;
}

header a:hover {
    text-decoration: underline;
}

header img {
    max-height: 100px;
    margin: 10px;
}

/**************************** Nav bar ***********************************/
/* code by W3schools from: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
#navbar {
    display: flex;
    justify-content: center;
    column-gap: 75px;
    background-color: #333;
}

#navbar li {
    list-style-type: none;
}

#navbar a {
    color: white;
    font-size: 28px;
    padding: 10px;
}

#navbar a:hover {
    border-radius: 20px;
    background-color: #169B62;
}

#navbar .active {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

#navbar .highlight {
    background-color: #169B62;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.navbar-grid ul {
    margin: 0;
    padding-left: 0;
}

/* code by W3schools from: https://www.w3schools.com/jsref/event_onclick.asp  */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    justify-content: space-around;
    background-color: #169B62;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    border-radius: 20px;
    background-color: #333;
}

.show-sub-nav {
    display: flex;
}

/********************* Sticky nav **************************/
/* code by W3schools from: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    justify-items: auto;
    top: 0;
    /* Webkit seems to work for chrome based browsers */
    width: -webkit-fill-available;
    /* moz works with firebox */
    width: -moz-available;
    max-width: 1440px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.page-title {
    padding-top: 53px;
}

/********************************** resize **********************************/
@media screen and (max-width: 1080px) {
    #navbar {
        column-gap: 50px;
    }

}

@media screen and (max-width: 900px) {
    #navbar {
        column-gap: 30px;
    }

    #navbar a {
        font-size: 20px;
    }

    .dropdown-content a {
        font-size: 14px;
        text-align: center;
    }

}

@media screen and (max-width: 650px) {
    header .icon {
        min-width: 280px;
    }

    header h2 {
        font-size: 30px;
    }

    header .header-links {
        display: grid;
        text-align: right;
        margin: 10px;
    }

    #navbar {
        display: grid;
        justify-content: flex-start;
        row-gap: 5px;
        padding-left: 0;
    }

    #navbar a {
        margin-left: 10px;
    }

    #navbar .highlight {
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;
    }

    .navbar-grid {
        grid-template-columns: 1fr 2fr;
    }

    .show-sub-nav {
        display: inline-grid;
        justify-content: left;
    }

    .dropdown-content a {
        text-align: left;
        font-size: 22px;
        padding: 10px;
    }

    .dropdown-content {
        /* Webkit seems to work for chrome based browsers */
        width: -webkit-fill-available;
        /* moz works with firebox */
        width: -moz-available;
    }

    .dropdown-content a:hover {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .sticky {
        position: unset;
        top: unset;
        min-width: unset;
        max-width: unset;
    }
}