* {
    box-sizing: border-box;
}

html,
body {
    background: linear-gradient(to right, #abbaab, #d0d0d091);
    background-color: #088583;
    min-height: 100vh;
    max-width: 1440px;
    min-width: 400px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 44px;
    color: #333;
}

.page-title {
    padding: 1px;
    background-color: rgb(203, 143, 58);
    text-align: center;
}

/************************************ Page sections ***************************/
.landing {
    min-height: 100vh;
    padding: 30px;
}

footer {
    background-color: #333;
    color: white;
    margin-top: 30px;
    padding: 20px 20px 20px 100px;
}

footer a {
    color: #169B62
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(203, 143, 58);
}

@media screen and (max-width: 720px) {
    footer {
        padding-left: 20px;
    }

}